block vars
	- var description = "";
	- var keywords = "";
	- var pagename = "";
	- var pagetitle = "Роспись стен в Москве и Таганроге";
doctype html
html(lang="ru", ng-app="rospiSten")
	head
		meta(charset="UTF-8")
		title #{pagetitle}
		meta(name="description", content="#{description}")
		meta(name="keywords", content="#{keywords}")
		link(rel="stylesheet", href="css/style.css")
		link(rel="shortcut icon", href="favicon.ico")
		script(src='js/vendor/jquery.1.9.1.min.js')
		script(src="js/vendor/modernizr-2.6.2.min.js")
		script(src="js/vendor/angular.min.js")
	body.home(itemscope itemtype="http://schema.org/Organization", ng-controller="mainApp", ng-click="closeModal()", data-ng-init="init()")
		.main-preloader(ng-show="!$root.showPreloader")
			span.main-preloader__icon
				i.fa.fa-cog.fa-2x
				i.fa.fa-paint-brush.fa-2x
				span.main-preloader__text
					| ПОДОЖДИТЕ
		.content-wrap.unactive(ng-class="{'unactive': !$root.showPreloader}")
			header.header
				h1.header__title
					| Роспись стен
				ul.socials__list
					li.socials__title
						| Расскажите о нас
					li.socials__item
						<a href="https://vk.com/share.php?url=http://sistersart.win&title=Sisters%20Art%20studio&image=http%3A%2F%2Fsistersart.win%2Fimg%2Fcontacts%2Fsisters.jpg" target="_blank"> <i class="fa fa-vk fa-lg"></i></a>
					li.socials__item
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsistersart.win%2F" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
					li.socials__item
						<a href="https://plus.google.com/share?url=http%3A%2F%2Fsistersart.win%2F" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a>
					li.socials__item
						<a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fsistersart.win%2F&text=Sisters%20Art%20studio" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
					//- li.socials__item
					//- 	<i class="fa fa-skype fa-lg"></i>
					//- li.socials__item
					//- 	<i class="fa fa-envelope-o fa-lg"></i>
			.content(ng-controller="rospiStenAlbumCtrl")
				.main-slider
					.main-slider__container(ng-mouseenter="stopAutoslide()", ng-mouseleave="startAutoslide()")
						ul.main-slider__list(ng-click="$event.stopPropagation();")
							li.main-slider__item(ng-repeat="image in selectedAlbum[0].images", ng-style="{'background-image':'url('+image.link+')'}", ng-class="{'active': image.selected}", ng-click="openLightboxModal(image)")
						.main-slider__right(ng-click="nextSlide()", ng-if="selectedAlbum[0].images.length > 1")
							<i class="fa fa-angle-right fa-5x"></i>
						.main-slider__left(ng-click="prevSlide()", ng-if="selectedAlbum[0].images.length > 1")
							<i class="fa fa-angle-left fa-5x"></i>
					ul.main-slider__pag-list
						li.main-slider__pag-item(ng-repeat="image in selectedAlbum[0].images", ng-class="{'active': image.selected}", ng-click="selectSlide(image)")
				.albums-slider
					h2.section-title
						| Наши альбомы
					ul.albums-slider__list
						li.albums-slider__item(ng-repeat="album in albums", ng-click="selectAlbum(album)", ng-style="{'background-image':'url('+album.images[0].link+')'}", ng-class="{'albums-slider__item_selected': album.selected}")
							.albums-slider__container
								.albums-slider__title
									| {{album.title}}
								.albums-slider__description
									| {{album.description}}
				.lightbox(ng-show="$root.showModal", ng-if="lightboxImg", ng-cloak)
					.lightbox__content(ng-click="$event.stopPropagation();")
						img.lightbox__image(ng-src="{{lightboxImg.link}}", alt="slider-image")
						.lightbox__description
						.lightbox__prev(ng-click="lightboxPrev()", ng-if="selectedAlbum[0].images.length > 1")
							<i class="fa fa-angle-left fa-3x"></i>
						.lightbox__next(ng-click="lightboxNext()", ng-if="selectedAlbum[0].images.length > 1")
							<i class="fa fa-angle-right fa-3x"></i>
						.lightbox__close(ng-click="$root.showModal=false;")
							<i class="fa fa-times fa-lg"></i>
				.services
					h2.section-title
						| О нас
					ul.services__list
						li.services__item
							| Наш творческий тандем с радостью предлагает Вам свои креативные умения в области изобразительного искусства! Мы работаем в разных техниках с индивидуальным подходом для каждого клиента.
						li.services__item
							| С нами вы можете преобразить свою гостиную стеной с фреской в стиле классицизм, и  у нас же заказать цифровой портрет своей любимой собаки, а так же реставрировать старую бабушкину вазу.
						li.services__item
							| Работы продумываются тесно с заказчиком и не повторяются, фактически, вы становитесь обладателем эксклюзивного проекта. Мы работаем  как с помощью проектора для дотошной точности, так и импровизируем на ходу с самыми смелыми идеями.
				.contacts
					h2.section-title
						| Наши контакты
					ul.contacts__list
						li.contacts__item.contacts__item_lena
							.contacts__description
								.contacts__title
									| Елена
									span (Москва)
								ul.contacts__description-list
									li.contacts__description-item-socials
										<a href="https://vk.com/el_chupanibre" target="_blank"><i class="fa fa-vk fa-lg"></i></a>
										<a href="https://www.facebook.com/profile.php?id=100008519340694" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
										<a href="https://www.instagram.com/elen_velik/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
										<a href="skype:elena_satori?call"><i class="fa fa-skype fa-lg"></i></a>
										<a href="mailto:elena.satori@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
										<a href="skype:+79654495597?call"><i class="fa fa-phone fa-lg"></i></a>

						li.contacts__item.contacts__item_katya
							.contacts__description
								.contacts__title
									| Екатерина
									span (Рига, Таганрог)
								ul.contacts__description-list
									li.contacts__description-item-socials
										<a href="https://vk.com/katikataoka" target="_blank"><i class="fa fa-vk fa-lg"></i></a>
										<a href="https://www.facebook.com/katerina.che.50" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
										<a href="https://www.instagram.com/katika_taoka/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
										<a href="skype:katikataoka?call"><i class="fa fa-skype fa-lg"></i></a>
										<a href="mailto:katikataoka@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
										<a href="skype:+37123305747?call" title="Latvian number"><i class="fa fa-phone fa-lg"></i></a>
										<a href="skype:+79085152953?call" title="Russian Number"><i class="fa fa-phone fa-lg"></i></a>
										
		script(src="js/plugins.js")
		script(src="js/main.js")